<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RechercheVolsHotels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RechercheVolsHotels.Properties.Settings>
            <setting name="RechercheVolsHotels_wsHotel_ServiceHotel" serializeAs="String">
                <value>http://localhost:38256/ServiceHotel.asmx</value>
            </setting>
            <setting name="RechercheVolsHotels_wsVol_ServiceVol" serializeAs="String">
                <value>http://localhost:38260/ServiceVol.asmx</value>
            </setting>
            <setting name="BdName" serializeAs="String">
                <value>PLOP</value>
            </setting>
            <setting name="TEST" serializeAs="String">
                <value>BAL</value>
            </setting>
        </RechercheVolsHotels.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="connecBaseVol" providerName="System.Data.SqlClient"
         connectionString="Data Source=WIN8\SQLEXPRESS; Initial Catalog=VOL; Integrated Security=True" />
    <add name="connecBaseHotel" providerName="System.Data.SqlClient"
         connectionString="Data Source=WIN8\SQLEXPRESS; Initial Catalog=HOTEL; Integrated Security=True" />
  </connectionStrings>
</configuration>