<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>
  <connectionStrings>
    <add name="connecBaseVol" providerName="System.Data.SqlClient"
         connectionString="Data Source=WIN8\SQLEXPRESS; Initial Catalog=VOL; Integrated Security=True" />
    <add name="connecBaseHotel" providerName="System.Data.SqlClient"
         connectionString="Data Source=WIN8\SQLEXPRESS; Initial Catalog=HOTEL; Integrated Security=True" />
  </connectionStrings>
</configuration>
