<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lib_Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <lib_Config.Properties.Settings>
            <setting name="TEST" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="connectBDVol" serializeAs="String">
                <value>Data Source=LAPTOP\SQLEXPRESS; Initial Catalog=VOL; Integrated Security=True</value>
            </setting>
            <setting name="connectBDHotel" serializeAs="String">
                <value>Data Source=LAPTOP\SQLEXPRESS; Initial Catalog=HOTEL; Integrated Security=True</value>
            </setting>
            <setting name="connectBDResVol" serializeAs="String">
                <value>Data Source=LAPTOP\SQLEXPRESS; Initial Catalog=RESVOL; Integrated Security=True</value>
            </setting>
            <setting name="connectBDResHotel" serializeAs="String">
                <value>Data Source=LAPTOP\SQLEXPRESS; Initial Catalog=RESHOTEL; Integrated Security=True</value>
            </setting>
            <setting name="sqlServerURL" serializeAs="String">
                <value>LAPTOP\SQLEXPRESS</value>
            </setting>
            <setting name="RechercheVolsHotels_wsHotel_ServiceHotel" serializeAs="String">
                <value>http://127.0.0.1/WSHotel/ServiceHotel.asmx</value>
            </setting>
            <setting name="RechercheVolsHotels_wsVol_ServiceVol" serializeAs="String">
                <value>http://127.0.0.1/WSVols/ServiceVol.asmx</value>
            </setting>
        </lib_Config.Properties.Settings>
    </applicationSettings>
</configuration>